[Desktop Entry]
Type=Application
Exec=kcolorchooser
Icon=kcolorchooser
Terminal=false
X-DocPath=fundamentals/index.html#colors
GenericName=Color Chooser
GenericName[af]=Kleur Kieser
GenericName[ar]=مختار اللون
GenericName[ast]=Seleutor de colores
GenericName[bg]=Избор на цвят
GenericName[br]=Dibaber livioù
GenericName[bs]=Birač boja
GenericName[ca]=Selector de colors
GenericName[ca@valencia]=Selector de colors
GenericName[cs]=Výběr barev
GenericName[cy]=Dewis Lliwiau
GenericName[da]=Farvevælger
GenericName[de]=Farbauswahl
GenericName[el]=Επιλογέας χρωμάτων
GenericName[en_GB]=Colour Chooser
GenericName[eo]=Kolora elektilo
GenericName[es]=Selector de colores
GenericName[et]=Värvivalija
GenericName[eu]=Kolore hautatzailea
GenericName[fa]=انتخاب‌‌کننده رنگ
GenericName[fi]=Värivalitsin
GenericName[fr]=Sélecteur de couleurs
GenericName[ga]=Roghnóir Dathanna
GenericName[gl]=Selector de cores
GenericName[he]=בוחר צבעים
GenericName[hi]=रंग चयनक
GenericName[hne]=रंग चुनइया
GenericName[hr]=Izbornik boja
GenericName[hu]=Színválasztó
GenericName[ia]=Selector de color
GenericName[is]=Litavalstól
GenericName[it]=Selettore di colori
GenericName[ja]=色の選択
GenericName[kk]=Түсті таңдау
GenericName[km]=កម្មវិធី​ជ្រើស​ពណ៌
GenericName[ko]=색상 선택기
GenericName[ku]=Bijarkerê Rengan
GenericName[lt]=Spalvų parinkiklis
GenericName[lv]=Krāsu izvēlētājs
GenericName[mk]=Избирач на бои
GenericName[mr]=रंग निवडकर्ता
GenericName[ms]=Pemilih Warna
GenericName[nb]=Fargevelger
GenericName[nds]=Klöörköör
GenericName[ne]=रङ चयनकर्ता
GenericName[nl]=Kleurenkiezer
GenericName[nn]=Fargeveljar
GenericName[pa]=ਰੰਗ ਸੰਰਚਨਾ
GenericName[pl]=Wybór koloru
GenericName[pt]=Selector de Cores
GenericName[pt_BR]=Seletor de cores
GenericName[ro]=Selector de culori
GenericName[ru]=Выбор цвета
GenericName[se]=Ivdneválljejeaddji
GenericName[si]=වර්‍ණ තෝරණය
GenericName[sk]=Výber farieb
GenericName[sl]=Izbirnik barv
GenericName[sr]=Бирач боја
GenericName[sr@ijekavian]=Бирач боја
GenericName[sr@ijekavianlatin]=Birač boja
GenericName[sr@latin]=Birač boja
GenericName[sv]=Färgväljare
GenericName[ta]=வண்ணத் தேர்வு
GenericName[tg]=Интихоби ранг
GenericName[th]=เครื่องมือเลือกสี
GenericName[tr]=Renk Seçici
GenericName[ug]=رەڭ تاللىغۇچ
GenericName[uk]=Вибір кольорів
GenericName[uz]=Rang tanlovchi
GenericName[uz@cyrillic]=Ранг танловчи
GenericName[vi]=Trình chọn màu
GenericName[wa]=Tchoezixheu di coleurs
GenericName[xh]=Mkhethi Wombala
GenericName[x-test]=xxColor Chooserxx
GenericName[zh_CN]=颜色选择器
GenericName[zh_HK]=顏色選擇器
GenericName[zh_TW]=顏色選擇程式
Name=KColorChooser
Name[af]=K-kleur-kieser
Name[ar]=كُولُرْتْشوزِر
Name[ast]=KColorChooser
Name[bg]=KColorChooser
Name[br]=KColorChooser
Name[bs]=KColorChooser
Name[ca]=KColorChooser
Name[ca@valencia]=KColorChooser
Name[cs]=Výběr barev
Name[cy]=KDewisLliw
Name[da]=KColorChooser
Name[de]=KColorChooser
Name[el]=KColorChooser
Name[en_GB]=KColorChooser
Name[eo]=KColorChooser
Name[es]=KColorChooser
Name[et]=KColorChooser
Name[eu]=KColorChooser
Name[fi]=Värivalitsin
Name[fr]=KColorChooser
Name[ga]=KColorChooser
Name[gl]=KColorChooser
Name[he]=KColorChooser
Name[hi]=केकलरचूज़र
Name[hne]=केकलरचूजर
Name[hr]=Izbornik boja
Name[hu]=KColorChooser
Name[ia]=KColorChooser
Name[is]=KLitaval
Name[it]=KColorChooser
Name[ja]=KColorChooser
Name[kk]=KColorChooser
Name[km]=KColorChooser
Name[ko]=KColorChooser
Name[ku]=KColorChooser
Name[lt]=KColorChooser
Name[lv]=KColorChooser
Name[mk]=KColorChooser
Name[mr]=के-कलर-चूझर
Name[ms]=KColorChooser
Name[nb]=KColorChooser
Name[nds]=KColorChooser
Name[ne]=केडीई रङ चयनकर्ता
Name[nl]=KColorChooser
Name[nn]=KDE-fargeveljar
Name[pa]=ਕੇ-ਰੰਗ-ਚੋਣਕਾਰ
Name[pl]=Wybór koloru
Name[pt]=KColorChooser
Name[pt_BR]=KColorChooser
Name[ro]=Selector culori
Name[ru]=KColorChooser
Name[se]=KDE-ivdneválljejeaddji
Name[si]=KColorChooser
Name[sk]=KColorChooser
Name[sl]=KColorChooser
Name[sr]=К‑бирач‑боја
Name[sr@ijekavian]=К‑бирач‑боја
Name[sr@ijekavianlatin]=K‑birač‑boja
Name[sr@latin]=K‑birač‑boja
Name[sv]=Kcolorchooser
Name[ta]=கேவண்ணத் தேர்வு
Name[tg]=KColorChooser
Name[th]=เครื่องมือเลือกสี-K
Name[tr]=KColorChooser
Name[ug]=KColorChooser
Name[uk]=KColorChooser
Name[uz]=Rang tanlovchi
Name[uz@cyrillic]=Ранг танловчи
Name[vi]=KColorChooser
Name[xh]=Umkhethi Wombala i K
Name[x-test]=xxKColorChooserxx
Name[zh_CN]=KColorChooser
Name[zh_HK]=KColorChooser
Name[zh_TW]=KColorChooser 顏色選擇器

Categories=Qt;KDE;Graphics;X-KDE-More;
