[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kcolorchooser
Icon=kcolorchooser
Path=
Terminal=false
DocPath=kcoloredit/index.html
GenericName=Color Chooser
GenericName[af]=Kleur Kieser
GenericName[ar]=برنامج اختيار الألوان
GenericName[br]=Dibaber livioù
GenericName[ca]=Elecció de colors
GenericName[cs]=Výběr barev
GenericName[cy]=Dewis Lliwiau
GenericName[da]=Farvevælger
GenericName[de]=Farbauswahl
GenericName[el]=Επιλογέας χρωμάτων
GenericName[en_GB]=Colour Chooser
GenericName[eo]=Ilo por elekti koloron
GenericName[es]=Selector de colores
GenericName[et]=Värvivalija
GenericName[eu]=Kolore hautatzailea
GenericName[fa]=انتخاب‌‌کنندۀ رنگ
GenericName[fi]=Värivalitsin
GenericName[fr]=Sélecteur de couleur
GenericName[gl]=Selecionador de cores
GenericName[he]=בוחר צבעים
GenericName[hr]=Izbornik boja
GenericName[hu]=Színválasztó
GenericName[is]=Litavalstól
GenericName[it]=Selettore di colori
GenericName[ja]=色の選択
GenericName[km]=កម្មវិធី​ជ្រើស​ពណ៌
GenericName[lt]=Spalvų parinkiklis
GenericName[lv]=Krāsu Izvēlētājs
GenericName[mk]=Избирач на бои
GenericName[ms]=Pemilih Warna
GenericName[nb]=Fargevelger
GenericName[nds]=Klöörutwahl
GenericName[ne]=रङ चयनकर्ता
GenericName[nl]=Kleurenkiezer
GenericName[nn]=Fargeveljar
GenericName[pa]=ਰੰਗ ਸੰਰਚਨਾ
GenericName[pl]=Wybór koloru
GenericName[pt]=Selector de Cores
GenericName[pt_BR]=Seletor de Cores
GenericName[ro]=Selector de culori
GenericName[ru]=Выбор цвета
GenericName[se]=Ivdneválljejeaddji
GenericName[sl]=Izbirnik barv
GenericName[sr]=Бирач боја
GenericName[sr@latin]=Birač boja
GenericName[sv]=Färgväljare
GenericName[ta]=வண்ணத் தேர்வு
GenericName[tg]=Интихоби ранг
GenericName[tr]=Renk Seçici
GenericName[uk]=Селектор кольорів
GenericName[uz]=Ранг танловчи
GenericName[wa]=Tchoezixheu di coleurs
GenericName[x-test]=xxColor Chooserxx
GenericName[xh]=Mkhethi Wombala
GenericName[zh_HK]=顏色選擇器
GenericName[zh_TW]=顏色選擇程式
Name=KColorChooser
Name[af]=K-kleur-kieser
Name[ar]=برنامج KColorChooser
Name[ca]=Elecció de colors
Name[cs]=Výběr barev
Name[cy]=KDewisLliw
Name[eo]=Kolorelektilo
Name[fi]=Värivalitsin
Name[hr]=Izbornik boja
Name[is]=Litaval
Name[lv]=KKrāsuIzvēlētājs
Name[nb]=Fargevelger
Name[ne]=केडीई रङ चयनकर्ता
Name[nn]=KDE-fargeveljar
Name[pa]=ਕੇ-ਰੰਗ-ਚੋਣਕਾਰ
Name[pl]=Wybór koloru
Name[pt_BR]=KSeletor de Cores
Name[ro]=Selector culori
Name[se]=KDE-ivdneválljejeaddji
Name[sv]=Kcolorchooser
Name[ta]=கேவண்ணத் தேர்வு
Name[tr]=K Renk Seçici
Name[uk]=Селектор кольорів
Name[uz]=Ранг танловчи
Name[x-test]=xxKColorChooserxx
Name[xh]=Umkhethi Wombala i K
Name[zh_TW]=KColorChooser 顏色選擇器

X-DBUS-StartupType=Multi
Categories=Qt;KDE;Graphics;X-KDE-More;
