[Desktop Entry]
Type=Application
Exec=kcolorchooser
Icon=kcolorchooser
Terminal=false
X-DocPath=kcoloredit/index.html
GenericName=Color Chooser
Name=KColorChooser

X-DBUS-StartupType=Multi
Categories=Qt;KDE;Graphics;X-KDE-More;
